<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/UploadMeterReadings.js"></script>
    <title>Upload Meter Readings</title>
</head>
<body>
    <h1>Upload Meter Readings</h1>
    <br />
    <form method="post" enctype="multipart/form-data">
        <div>
            <div>
                <input type="file" id="fUpload" name="files" class="form-control" />
            </div>
            <br />
            <div>
                <input type="button" id="btnSubmit" value="Submit" />
            </div>
        </div>
    </form>
    <br />
    <div>
        <table>
            <tr>
                <td>Number of successful readings: </td>
                <td id="successfulReadingsCount"></td>
            </tr>
            <tr>
                <td>Number of failed readings: </td>
                <td id="unsuccessfulReadingsCount"></td>
            </tr>
        </table>
    </div>
</body>
</html>